@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	background-color: #262b31;
	
	margin: 0;
	padding: 0;
	
	-webkit-user-select: none;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 70px;
	
	background-color: #000000;
	
	position: sticky;
	top: 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 1260px; 
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 40px;
	width: 1000px;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-decoration: none;
	
	margin: 0;
	padding: 0;
}

.name__fisrt-part {
	font-family: 'Russo One', sans-serif;
	font-size: 35px;
	line-height: 42px;
	
	color: #17BC17;
}

.name__second-part {
	font-family: 'Russo One', sans-serif;
	font-size: 35px;
	line-height: 42px;
	
	color: #FFFFFF;
}

.nav__item {
	font-family: 'Russo One', sans-serif;
	color: #D9D6DA;
	
	font-size: 28px;
	line-height: 19px;
	
	text-decoration: none;
}

.nav__item:hover {
	color: #FFFFFF;
	
	cursor: pointer;
}

.cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 70px;
	height: 25px;
}

.cart__image {	
	align-self: flex-end;
	
	width: 28px;
	height: 24px;
	
	background-image: url(images/ShoppingCart.svg);
}

.cart__counter {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
	width: 40px;
	height: 25px;
	
	font-family: 'Russo One', sans-serif;
	color: #D9D6DA;
	
	font-size: 28px;
	line-height: 19px;
}

.search {
	background: url(images/search.svg);
	
	width: 26px;
	height: 25px;
}

.login {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	
	width: 115px;
	height: 23px;
	
	text-decoration: none;
}

.login__icon {
	width: 22.18px;
	height: 23px;
	
	background-image: url(images/LogInIcon.svg);
}

.login__text {
	font-family: 'Russo One', sans-serif;
	color: #D9D6DA;
	
	font-size: 28px;
	line-height: 19px;
}


.cart:hover,
.login:hover, 
.search:hover {
	filter: brightness(10);
	
	cursor: pointer;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	width: 1440px;
}

.loader {
	position: fixed;
	align-self: center;
	width: 186px;
	height: 186px;
	border-radius: 50%;
		-webkit-border-radius: 50%;
	perspective: 780px;
	align-self: center;
	
	visibility: hidden;
	
	z-index: 3;
}

.loader__part {
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	border-radius: 50%;
		-webkit-border-radius: 50%;	
}

.loader__part_one {
	left: 0%;
	top: 0%;
	animation: loader-rotate-one 1.15s linear infinite;
		-webkit-animation: loader-rotate-one 1.15s linear infinite;
	border-bottom: 20px solid rgb(255,255,255);
}

.loader__part_two  {
	right: 0%;
	top: 0%;
	animation: loader-rotate-two 1.15s linear infinite;
		-webkit-animation: loader-rotate-two 1.15s linear infinite;
	border-right: 20px solid rgb(255,255,255);
}

.loader__part_three  {	
	right: 0%;
	bottom: 0%;
	animation: loader-rotate-three 1.15s linear infinite;
		-webkit-animation: loader-rotate-three 1.15s linear infinite;
	border-top: 20px solid rgb(255,255,255);
}

@-webkit-keyframes loader-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes loader-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes loader-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

.overlay {
	visibility: hidden;
	position: fixed;
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;
	
	top: 0;
	
	z-index: 2;
}

.items-list {	
	position: absolute;
	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	height: 500px;
	width: 800px;
	
	background-color: #FFFFFF;
	
	box-shadow: 0px 0px 50px 300px rgba(48, 48, 48, 0.8);
}

.items-list__close-button {
	align-self: flex-end; 
	
	width: 10px; 
	height: 10px; 

	margin-right: 16px;
	
	border: 1px outset #000000;
}

.items-list__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	
	width: 750px;
	height: 450px;
	
	overflow-y: auto; 
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 680px;
	min-height: 65px;
	
	border: 1px solid black;
	
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 1370px;
	height: 580px;
	
	margin-top: 35px;
}

.slider__container {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
	
	width: 1260px;
	height: 580px;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 1260px;
	height: 545px;
	
	box-shadow: inset 0px -150px 15px -15px rgba(0, 0, 0, 0.75);
	
	text-decoration: none;
}

.banner__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	align-self: flex-end;
	
	width: 1220px;
	height: 100px;
	
	margin-bottom: 15px;
}

.banner__text-top {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 150%;
	
	color: #D9D6DA;
	
	margin: 0;
	padding: 0;
}

.banner__text-bottom {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 200%;
	
	color: #D9D6DA;
	
	margin: 0;
	padding: 0;
}

.banner:hover .banner__text-top {
	color: #FFFFFF;
}

.banner:hover .banner__text-bottom {
	color: #FFFFFF;
}

.slider__progress {
	display: flex;
    justify-content: space-between;
    align-items: center;
	
	width: 1090px;
	height: 5px;
}

.slider__progress-part {
	width: 110px;
	height: 5px;
}

.slider__progress-part_active {
	background-color: #FFFFFF;
}

.slider__progress-part_inactive {
	background-color: #858585;
}

.slider__swipe {	
	width: 20px;
    height: 20px;
	
	border: 2px solid #D9D6DA;
	border-width: 0 3px 3px 0;
	padding: 3px;
	
	z-index: 1;
}

.slider__swipe_left {
	transform: rotate(135deg);
}

.slider__swipe_right {
	transform: rotate(-45deg);
}

.slider__swipe:hover {
	cursor: pointer;
	border: 2px solid #FFFFFF;
	border-width: 0 3px 3px 0;
}

.card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 1260px;
	flex-wrap: wrap;
	
	margin-bottom: 35px;
}

.card {	
	position: relative;
	display: flex;
	justify-content: center;
	
	overflow: hidden;
	
	width: 400px;
	height: 230px;
	
	z-index: 1;
	
	margin-top: 20px;
}

.card:hover {
	color: #FFFFFF;
	
	cursor: pointer;
}

.card__slider {
	position: absolute;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	top: -230px;
	
	width: 400px;
	height: 230px;
	
	box-shadow: inset 0px 235px rgba(0, 0, 0, 0.75);
	
	transition: top 0.9s;
}

.card:hover .card__slider {
	top: 0px;
}

.card__slider-text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	
	color: #D9D6DA;
}

.card__text {
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
	
	width: 382px;
	height: 80px;
	
	margin-bottom: 14px;
	
	box-shadow: 0px 9px 4px 13px rgba(0, 0, 0, 0.75), inset 0px 80px 0px rgba(0, 0, 0, 0.75);
	
	transition: margin-bottom 1s;
}

.card:hover .card__text {
	margin-bottom: -85px;
}

.card__text-top {
    width: 382px;
	height: 80px;
	
	margin-bottom: -5px;
	
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	
	color: #D9D6DA;
}

.card__text-bottom {
	width: 145px;
	height: 30px;
	
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	
	color: #D9D6DA;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100px;
	
	background-color: #000000;
}

.footer__text {
	font-family: 'Russo One', sans-serif;
	color: #D9D6DA;
	
	font-size: 28px;
	line-height: 19px;
}