@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
	margin: 0;
	padding: 0;
}

a, 
p, 
span
{
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;    
}	

body
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	background-color: #262b31;
}

header
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 70px;
	
	background-color: #000000;
	
	position: sticky;
	top: 0;
	
	font-family: 'Russo One', sans-serif;
	color: #D9D6DA;
	
	font-size: 28px;
	line-height: 19px;
}

nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1260px;
	height: 40px;
}

a
{
	text-decoration: none;
	color: #D9D6DA;
}

a:hover
{
	color: #FFFFFF;
}

.Name span
{
	font-size: 35px;
	line-height: 42px;
}

.Game
{
	color: #17BC17;
}

.Shop
{
	color: #FFFFFF;
}

.nav-wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 505px;
	height: 35px;
	
	margin-top: 4px;
}

.shoppingcart
{
	background-image: url(ShoppingCart.svg);
	
	width: 28px;
	height: 25px;
}

.search
{
	background: url(search.svg);
	
	width: 26px;
	height: 25px;
}

.LogIn
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	
	width: 115px;
	height: 23px;
}

.LogIn div
{
	width: 22.18px;
	height: 23px;
	
	background-image: url(LogInIcon.svg);
}

.LogIn:hover, .shoppingcart:hover, .search:hover
{
	filter: brightness(10);
}

main
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	width: 1440px;
	height: 920px;
}

.slider
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 1370px;
	height: 580px;
}

.slider-main-part
{
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
	
	width: 1260px;
	height: 580px;
}

.banner
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 1260px;
	height: 545px;
	
	background: url(BannerBackground.png);
	box-shadow: inset 0px -150px 15px -15px rgba(0, 0, 0, 0.75);
}

.banner-text-holder
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	align-self: flex-end;
	
	width: 1220px;
	height: 100px;
	
	font-family: Roboto;
	
	margin-bottom: 15px;
}

.banner-upper-text
{
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 150%;
}

.banner-lower-text
{
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 200%;
}

.sliderprogress
{
	display: flex;
    justify-content: space-between;
    align-items: center;
	
	width: 1090px;
	height: 1px;
}

.progresspart
{
	width: 110px;
	height: 1px;
}

.active
{
	background-color: #FFFFFF;
}

.inactive
{
	background-color: #D9D6DA;
}

.swipe
{
	display: inline-block;
	
	width: 20px;
    height: 20px;
	
    border: 2px solid #D9D6DA;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.left
{
	transform: rotate(135deg);
}

.right
{
	transform: rotate(-45deg);
}

.swipe:hover
{
	cursor: pointer;
	border: 2px solid #FFFFFF;
	border-width: 0 3px 3px 0;
}

.other-wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 1260px;
	height: 230px;
}

.other
{	
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
	width: 400px;
	height: 230px;
	
	box-shadow: inset 0px -100px 5px -3px rgba(0, 0, 0, 0.75);
}

.other-text-wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	
	width: 382px;
	height: 80px;
	
	margin-bottom: 14px;
}

.other-upper-text
{
    width: 382px;
	height: 80px;
	
	margin-bottom: -5px;
}

.other-lower-text
{
	width: 145px;
	height: 30px;
}

.other1
{
	background: url(OtherBackground1.png);
}

.other2
{
	background: url(OtherBackground2.png);
}

.other3
{
	background: url(OtherBackground3.png);
}

footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100px;
	
	background-color: #000000;
	
	font-family: 'Russo One', sans-serif;
	color: #D9D6DA;
	
	font-size: 28px;
	line-height: 19px;
}
